{% extends "layout.html" %}

{% block title %}
  EKS-Mesaj Kutusu
{% endblock title %}

{% block body %}
    <div class="col-md-7 heading-section ftco-animate">
    <h2 class="mb-4">Mesaj Kutusu</h2>
    </div>
    <hr>
    {% if mails %}
    <div class="container">
      <table style="width:100%">
        <th class="ftco-animate" style="width:15%">Ad</th>
        <th class="ftco-animate" style="width:15%">Soyad</th>
        <th class="ftco-animate" style="width:20%">Email</th>
        <th class="ftco-animate" style="width:50%">Mesaj</th>
        {% for mail in mails  %}
          <tr class="ftco-animate">
              <td>{{mail[0]}}</td>
              <td>{{mail[1]}}</td>
              <td>{{mail[2]}}</td>
              <td>{{mail[3]}}</td>
          </tr>
        {% endfor %}

    </table>
    </div>

    {% else %}

    <div class="alert alert-danger">Sistemde henüz mesaj yoktur...</div>

    {% endif %}
<br><br>
{% endblock body %}
