{% extends "layout.html" %}

{% block title %}
  EKS-Ders Notları
{% endblock title %}

{% block body %}
<div class="col-md-7 heading-section ftco-animate">
    <h2 class="mb-4">Eğitim Bilgileri</h2>
</div>
<hr>
<div class="container ftco-animate">
    <table border="1">
        <tr>
            <th style="width:7%">KOD</th>
            <th style="width:69%">DERS ADI</th>
            <th style="width:6%">YIL  </th>
            <th style="width:6%">DÖNEM  </th>
            <th style="width:6%">KREDİ  </th>
            <th style="width:6%">NOTU  </th>
        </tr>
        <tr>
            <td>MAT-173	</td>
            <td>Kalkülüse Giriş</td>
            <td>2018</td>
            <td>1</td>
            <td>4</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-103</td>
            <td>Bilgisayar Donanımı</td>
            <td>2018</td>
            <td>1</td>
            <td>5</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-111</td>
            <td>Programlama Temelleri</td>
            <td>2018</td>
            <td>1</td>
            <td>6</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-115</td>
            <td>Ofis Yazılımları</td>
            <td>2018</td>
            <td>1</td>
            <td>3</td>
            <td>BB</td>
        </tr>
        <tr>
            <td>BPR-117</td>
            <td>Grafik ve Animasyon</td>
            <td>2018</td>
            <td>1</td>
            <td>5</td>
            <td>CC</td>
        </tr>
        <tr>
            <td>ING-101</td>
            <td>İngilizce I (Hazırlık Eğitimine Tabi Olmayan Öğrenciler İçin)</td>
            <td>2018</td>
            <td>1</td>
            <td>2</td>
            <td>BB</td>
        </tr>
        <tr>
            <td>ATA-160</td>
            <td>Atatürk İlkeleri ve İnkılap Tarihi I</td>
            <td>2018</td>
            <td>1</td>
            <td>2</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>TUR-170</td>
            <td>Türk Dili I</td>
            <td>2018</td>
            <td>1</td>
            <td>2</td>
            <td>CB</td>
        </tr>
        <tr>
            <td>ENF-814</td>
            <td>Bilişim Teknolojileri ve Uygulamaları(2+0 Önlisans Öğrencileri için Seçmeli-Uzaktan Eğitim)</td>
            <td>2018</td>
            <td>2</td>
            <td>3</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-102</td>
            <td>Görsel Programlama I</td>
            <td>2018</td>
            <td>2</td>
            <td>5</td>
            <td>BA</td>
        </tr>
        <tr>
            <td>BPR-114</td>
            <td>Veri Tabanı I</td>
            <td>2018</td>
            <td>2</td>
            <td>5</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-116</td>
            <td>Ağ Temelleri</td>
            <td>2018</td>
            <td>2</td>
            <td>4</td>
            <td>BA</td>
        </tr>
        <tr>
            <td>BPR-120</td>
            <td>Web Tasarımı</td>
            <td>2018</td>
            <td>2</td>
            <td>4</td>
            <td>BA</td>
        </tr>
        <tr>
            <td>BPR-122</td>
            <td>Java Programlama I</td>
            <td>2018</td>
            <td>2</td>
            <td>3</td>
            <td>CB</td>
        </tr>
        <tr>
            <td>ING-102</td>
            <td>İngilizce II (Hazırlık Eğitimine Tabi Olmayan Öğrenciler İçin)</td>
            <td>2018</td>
            <td>2</td>
            <td>2</td>
            <td>BB</td>
        </tr>
        <tr>
            <td>ATA-260</td>
            <td>Atatürk İlkeleri ve İnkılap Tarihi II</td>
            <td>2018</td>
            <td>2</td>
            <td>2</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>TUR-270</td>
            <td>Türk Dili II</td>
            <td>2018</td>
            <td>2</td>
            <td>2</td>
            <td>CB</td>
        </tr>
        <tr>
            <td>BPR-201</td>
            <td>Görsel Programlama II</td>
            <td>2019</td>
            <td>1</td>
            <td>5</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-207</td>
            <td>Nesne Tabanlı Programlama I</td>
            <td>2019</td>
            <td>1</td>
            <td>3</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-211</td>
            <td>Sensörler</td>
            <td>2019</td>
            <td>1</td>
            <td>3</td>
            <td>BA</td>
        </tr>
        <tr>
            <td>BPR-213</td>
            <td>Web Projesi Yönetimi</td>
            <td>2019</td>
            <td>1</td>
            <td>3</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-223</td>
            <td>Internet Programcılığı I</td>
            <td>2019</td>
            <td>1</td>
            <td>5</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-225</td>
            <td>Veri Tabanı II</td>
            <td>2019</td>
            <td>1</td>
            <td>5</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-227</td>
            <td>Sistem Analizi I</td>
            <td>2019</td>
            <td>1</td>
            <td>3</td>
            <td>AA</td>
        </tr>
        <tr>
            <td>BPR-231</td>
            <td>Oyun Programlama</td>
            <td>2019</td>
            <td>1</td>
            <td>3</td>
            <td>AA</td>
        </tr>
    </table>
</div>
<br><br>
{% endblock body %}